<div class="details">
    <div class="details__loading" *ngIf="loading">
        <img src="assets/imgs/loading.gif" class="loading" [hidden]="!loading">
    </div>
    <div class="details__center" *ngIf="!loading">
        <div class="details__center__img">
            <img src="{{pokemon.imageUrlHiRes}}"/>
        </div>
        <div class="details__center__description">
            <div class="details__center__description__id">
                <span class="details__underline">ID:</span><span>&nbsp;{{pokemon.id}}</span>
            </div> 
            <div class="details__center__description__name">
                <span class="details__underline">Nome:</span><span>&nbsp;{{pokemon.name}}</span>
            </div>
        </div>
        <div class="details__center__type" *ngIf="pokemon.types">
            <span class="details__underline">Type:</span><span>&nbsp;{{pokemon.types}}</span>
        </div>
        <ng-container *ngIf="pokemon.attacks">
            <div *ngFor="let attack of pokemon.attacks; let i = index" class="details__center__attack">
                <div class="details__center__attack__title">
                    <span class="details__underline">Attack {{i+1}}:</span>
                </div>
                <div class="details__center__attack__details">
                    <span class="details__underline" *ngIf="attack.cost">Cost:</span><span>&nbsp;{{attack.cost}}</span> <br>
                    <span class="details__underline" *ngIf="attack.name">Name:</span><span>&nbsp;{{attack.name}}</span> <br>
                    <span class="details__underline" *ngIf="attack.damage">Damage:</span><span>&nbsp;{{attack.damage}}</span> <br>
                    <span class="details__underline" *ngIf="attack.text">Desciption:</span><span>&nbsp;{{attack.text}}</span>
                </div>
            </div>
        </ng-container>
        <ng-container *ngIf="pokemon.resistances">
            <div class="details__center__resistances" *ngFor="let resistence of pokemon.resistances">
                <div class="details__center__resistances__type">
                    <span class="details__underline">Resistance:</span><span>&nbsp;{{resistence.type}}</span>
                </div>
                <div class="details__center__resistances__value">
                    <span class="details__underline">Value:</span><span>&nbsp;{{resistence.value}}</span>
                </div>
            </div>
        </ng-container>
        <ng-container *ngIf="pokemon.weaknesses">
            <div class="details__center__weakness" *ngFor="let wekness of pokemon.weaknesses">
                <div class="details__center__weakness__type">
                    <span class="details__underline">Weakness:</span><span>&nbsp;{{wekness.type}}</span>
                </div>
                <div class="details__center__weakness__value">
                    <span class="details__underline">Value:</span><span>&nbsp;{{wekness.value}}</span>
                </div>
            </div>
        </ng-container>
    </div>
    
</div>