
html, body { 
    height: 100%; 
    margin: 0 auto;
    overflow-x: hidden;
}

body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; }

div {
    display: block;
    box-sizing: border-box;
    position: relative;
}

.mat-form-field {
    width: 100%;
}
